body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.navigation {
  background-color: #00adb5;
}

.header-link {
  color: #eeeeee;
}
.header-link:hover {
  color: #222831;
}

.register-button {
  background-color: #393e46;
  color: #eeeeee;
}
.register-button:hover {
  color: antiquewhite;
  background-color: #222831;
}

.login-button {
  /* background-color: #393E46; */
  color: #eeeeee;
  border: 1px solid white;
}
.login-button:hover {
  color: antiquewhite;
  background-color: #222831;
  border: 0px solid white;
}

.dropdown-color {
  background-color: #eeeeee;
}

/* Homepage */
.landing-text {
  color: #393e46;
}

.get-started {
  color: #eeeeee;
  background-color: #222831;
}
.get-started:hover {
  color: #00adb5;
}

.about-us {
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

/* Registration Page */
.sign-up {
  background-color: #00adb5;
}

/* All badges */
.badge {
  background-color: #222831;
}

/* Settings */
.update-popup {
  background-color: #eeeeee;
}

tbody {
  background-color: #00adb5;
}

thead {
  background-color: #393e46;
}

/* Image dragging */
img {
  pointer-events: none;
}

/* About Page */
.about-button {
  background-color: #00adb5;
}
.about-button:hover {
  background-color: #222831;
  color: #eeeeee;
}

.about-modal {
  background-color: #eeeeee;
}

.contactUsTextArea {
  resize: none;
}
